{% from "macros.html" import similarComponent with context %}
{% extends "base.html" %}
{% block title %}OCW Knowledge{% endblock %}
{% block content %}
    <div class="container">
        <div class='wrapper text-center'>
            {% for e in examples %}
                {% if e == input_term %}
                    <button class="btn btn-info m-1" type="submit">
                        {{ e }} <span class="fa fa-check"></span>
                    </button>
                {% else %}
                    <a href="/words/{{ e }}" class="btn btn-outline-secondary m-1" role="button">
                        {{ e }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {{ similarComponent(input_term, similar_words, similar_video_clips) }}
{% endblock %}
