{% extends "base.html" %}
{% block title %}OCW Knowledge{% endblock %}
{% block content %}
    <div class="container">
        <div class="jumbotron mt-3">
        <h1>OCW Knowledge Project</h1>
        <p class="lead">A word embedding approach to finding relationships within OpenCourseWare.</p>
        <!-- <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">View navbar docs &raquo;</a> -->
        </div>
    </div>
    <div class="container">
        {% for e in examples %}
            {% if e == input_term %}
                <button class="btn btn-primary" type="submit">
                    {{ e }} <span class="fa fa-check"></span>
                </button>
            {% else %}
                <a href="/words/{{ e }}" class="btn btn-light" role="button">
                    {{ e }}
                </a>
                <!-- <button type="button" onclick="/words/deep_learning">
                    {{ e }} <span class="fa fa-check"></span>
                </button> -->
            {% endif %}
        {% endfor %}
    </div>
    <div class="container">
        <h2>{{ input_term }}</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4>Similar Terms</h4>
                {% for similar_word in similar_words %}
                    <div class="card">
                        <div class="col-md-8">
                            <div class="card-body">
                                <p>{{ similar_word }}</p>
                                <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm-6">
                {% for similar_video_clip in similar_video_clips %}
                    <p>{{ similar_video_clip[1] }}</p>
                    <small class="text-muted">Start time ~ {{ similar_video_clip[2] }} sec</small>
                    <div>
                        <iframe width="200" height="100" src="https://www.youtube.com/embed/{{ similar_video_clip[0] }}?start={{ similar_video_clip[2] }}" allowfullscreen></iframe>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}